@page "/Home/AboutUs"

<MudPaper Style="background-image: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');" Class="p-4">
    <MudPaper Class="ma-5 p-4">
        <h1 class="mud-typography-header2">Welcome to Food Desire!</h1>
        <p>Food Desire is a food delivery service that allows you to order food from your favorite restaurants and have it delivered right to your doorstep. We offer a wide variety of cuisines, including Indian, Chinese, Italian, Mexican, and more. Our goal is to make ordering food as easy and convenient as possible.</p>
    </MudPaper>
</MudPaper>
<MudContainer Class="mt-4">
    <h3 class="mud-typography-header6">Why Order from Food Desire?</h3>
    <ul>
        <li>Convenience: With just a few clicks, you can order food and have it delivered to you.</li>
        <li>Variety: Our platform offers a wide selection food items, so you can always find something that suits your taste buds.</li>
        <li>Quality: We are a restaurant that use high-quality ingredients to prepare your dishes.</li>
        <li>Fast Delivery: Our delivery partners ensure that your food arrives hot and fresh, right to your doorstep.</li>
        <li>Customizable: You can customize the ingredients of your dish to suit your preferences.</li>
    </ul>
</MudContainer>
<MudContainer Class="mt-4">
    <h3 class="mud-typography-header6">How to Order:</h3>
    <ol>
        <li>Browse menus and select your desired dishes. You can also customize the ingredients of your dish by clicking the "Customize" button.</li>
        <li>Review your order and click the "Checkout" button.</li>
        <li>Enter your delivery information and pay securely online.</li>
        <li>Sit back and relax while your food is prepared and delivered to you.</li>
    </ol>
</MudContainer>