<td>
    <MudImage Src="@($"data:image/png;base64,{FoodItem?.Recipe?.Images[0]?.Data}")" Style="height:50px" ObjectFit="ObjectFit.Fill" Fluid="true" />
</td>
<td>
    <MudText>@FoodItem?.Recipe?.Name </MudText>
</td>
<td>
    <MudText>X @FoodItem?.Quantity</MudText>
</td>
<td>
    <MudText>Rs. @FoodItem?.Price</MudText>
</td>
<td>
    <MudText>Rs. @(FoodItem?.Price * FoodItem?.Quantity)</MudText>
    </td>
    @if (!ViewOnly)
{
    <td>
        <MudIconButton ButtonType="MudBlazor.ButtonType.Button" Icon="@Icons.Material.Filled.Edit" OnClick="Edit" aria-label="delete" />
    </td>
    <td>
        <MudIconButton ButtonType="MudBlazor.ButtonType.Button" Icon="@Icons.Material.Filled.Delete" Color="MudBlazor.Color.Error" OnClick="Delete" aria-label="delete" />
    </td>
}
else
{
    @if (Delivered)
    {
        <td>
            <MudButton ButtonType="MudBlazor.ButtonType.Button" Variant="Variant.Text" Color="MudBlazor.Color.Primary" OnClick="Review" >Review</MudButton>
        </td>
        <td></td>

    }
    <td></td>
    <td></td>
}



