@using FoodDesire.Web.Client.Shared
@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudAppBar Color="Color.Transparent" Class="mb-2" Fixed="false"/>
<NavigationBarComponent />
<main>
    @Body
</main>
